body {
  margin: 0;
  font-family: helvetica;
}

.headbar {
  background-color: #212a31;
  height: 75px;
  margin-bottom: 25px;
}

.headbar h2 {
  color: white;
  margin: 0;
  padding-top: 10px;
  text-align: center;
}

.container {
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -18em;
  width: 36em;
  height: 30em;
  background-color: #d3d9d4;
  border-style: solid;
  border-color: #c8cec9;
  border-radius: 1em;
}

.loginpage {
  position: relative;
  width: 26em;
  height: 15em;
  margin: 4em 5em 6em 5em;
}

.loginpage h2 {
  font-size: 50px;
  text-align: center;
}

.loginpage input[type="text"] {
  display: block;
  height: 20px;
  width: 400px;
  border: none;
  border-bottom: 1px solid #212a31;
  padding: 5px 5px 0px 5px;
  margin: 25px 5px 25px 5px;
  background-color: #d3d9d4;
  font-size: 20px;
  line-height: 50px;
}

.loginpage input[type="text"]::placeholder {
  vertical-align: middle;
}

.loginpage input[type="text"]:focus {
  outline: 0;
}

.loginpage input[type="text"]:focus::placeholder {
  color: black;
  font-size: 20px;
  vertical-align: bottom;
  transition: color 0.5s;
}

.loginpage input[type="submit"] {
  color: black;
  background-color: #748d92;
  height: 40px;
  width: 100px;
  display: block;
  margin: 5em 1em 1em 0em;
  border-radius: 5px;
  border: none;
  text-align: center;
}

.loginpage input[type="submit"]:hover {
  cursor: pointer;
}

.loginpage input[type="submit"]:active {
  background-color: #697f83;
  border: solid;
  border-color: #607477;
}

#loginResults {
  height: 1em;
  width: 32em;
  padding: 2em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  background-color: #c8cec9;
}
